/*
	------------------- color scheme --------------------

	red: #b80f0c, rgb(184, 15, 12), rgba(184, 15, 12, 1)
	cyan: #0cb5b8, rgb(12, 181, 184), rgba(12, 181, 184, 1)

	logo background: background-color: rgba(12, 12, 12, .3)
	layover color: rgba(0, 0, 0, .7)
*/


/* ------------------- general css ------------------- */
*{
	display: block;
}

html, body{
	height: 100%;
	width: 100%;
}

title{
	display: none;
}

html{
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.clear{
	clear: both;
}

h2.name{
	font-family: Arial;
}

.shadow-on-shadow{
	background-color: rgba(12, 12, 12, .25);
}



/* ------------------ background ------------------ */
body{
	background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .25)), url("../img/photos/landscape-img-1200x687-bw.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.layover{
	background-color: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
}



/* ------------------ main contents ------------------ */
.main-column{
	height: 90%;
	align-content: center;
	display: grid;
	justify-content: center;
	grid-auto-flow: column;
}

main.main-info{
	width: 100%;
	padding: 3% 5% 2% 5%;
	background-color: rgba(12, 12, 12, .45);
}

h2.name{
	text-align: center;
	font-size: 8vw;
	font-style: italic;
	color: rgba(184, 15, 12, 1);
}

ul.description-list{
	border-top: .1em dashed rgba(184, 15, 12, 1);
	display: grid;
	text-align: center;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	gap: 5%;
	padding: 1%;
}

ul.description-list > li{
	display: inline;
	font-size: 3vw;
	color: gainsboro;
}



/* ------------------ footer info ------------------ */
footer.footer-info{
	color: white;
}