/*
	------------------- color scheme --------------------

	red: #b80f0c, rgb(184, 15, 12), rgba(184, 15, 12, 1)
	cyan: #0cb5b8, rgb(12, 181, 184), rgba(12, 181, 184, 1)

	logo background: background-color: rgba(12, 12, 12, .3)
	layover color: rgba(0, 0, 0, .7)
*/


/* ------------------- general css ------------------- */
*{
	display: block;
}

html, body{
	height: 100%;
	width: 100%;
}

.left-column, .main-column{
	height: 95%;
}

footer.footer-info{
	height: 5%;
}

title{
	display: none;
}

html{
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.clear{
	clear: both;
}

h2.name, .nav-list li{
	font-family: Arial;
}




/* ------------------ background ------------------ */
body{
	background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .25)), url("../img/photos/landscape-img-1200x687-bw.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.layover{
	background-color: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
}





/* ------------------ columns ------------------ */
.left-column{
	width: 20%;
	float: left;
}

.main-column{
	width: 80%;
	float: left;
}





/* ------------------ side panels ------------------ */
header.side-nav{
	background-color: rgba(12, 12, 12, .3);
	padding-top: 1%;
	padding-bottom: 1%;
	width: 80%;
	min-width: 150px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	/*background-color: green;*/
}

header.side-nav > a{
	width: 98%;
	margin: auto;
	height: auto;
	background-color: rgba(12, 12, 12, .1);
	transition: background-color .5s;
	/*background-color: blue;*/
}

header.side-nav > a:hover{
	background-color: rgba(12, 12, 12, .4);
	/*background-color: blue;*/
}

header > a > img{
	/*background-color: yellow;*/
	width: 100%;
	margin: auto;
	opacity: .6;
	transition: opacity .5s;
}

header > a > img:hover{
	opacity: 1;
}

header nav{
	width: 100%;
	height: auto;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}

ul.nav-list{
	width: 100%;
}

ul.nav-list > li{
	list-style: none;
	width: 100%;
}

ul.nav-list > li > a{
	display: block;
	/*background-color: rgba(12, 12, 12, .1);*/
	text-decoration: none;
	font-size: 1.6em;
	text-align: center;
	color: white;
	width: 100%;
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	transition: background-color .5s, color .5s;
	transition: color .5s;
}

ul.nav-list > li > a:hover{
	/*background-color: rgba(12, 12, 12, .5);*/
	color: rgba(184, 15, 12, 1);
}





/* ------------------ main contents ------------------ */
main.main-info{
	width: 60%;
	margin-top: 23%;
	margin-left: 10%;
	background-color: rgba(12, 12, 12, .45);
}

h2.name{
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	font-size: 5.5vw;
	font-style: italic;
	color: rgba(184, 15, 12, 1);
}

ul.description-list{
	border-top: .1em dashed rgba(184, 15, 12, 1);
	width: 100%;
	overflow: hidden;
}

ul.description-list > li{
	float: left;
	width: 33.33%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	font-size: 1.7vw;
	color: gainsboro;
}





/* ------------------ footer info ------------------ */
footer.footer-info{
	width: 100%;
	background-color: rgba(12, 12, 12, .25);
	color: white;
}

p.copyright-info{
	padding-top: 1%;
	font-size: .75vw;
	text-align: center;
}

span.genitx{
	color: rgba(184, 15, 12, 1);
	display: inline;
	transition: color .5s;
}

span.genitx:hover{
	color: rgba(12, 181, 184, 1);
}
